modules = ["web", "python-3.11", "bash", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_gemini:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "glibcLocales", "jq", "libiconv", "libxcrypt", "openssl", "postgresql", "rustc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33203
externalPort = 6000

[[ports]]
localPort = 34251
externalPort = 8000

[[ports]]
localPort = 35317
externalPort = 5000

[[ports]]
localPort = 37565
externalPort = 3000

[[ports]]
localPort = 38023
externalPort = 3002

[[ports]]
localPort = 38373
externalPort = 6800

[[ports]]
localPort = 39093
externalPort = 5173

[[ports]]
localPort = 42609
externalPort = 3003

[[ports]]
localPort = 44435
externalPort = 3001

[[ports]]
localPort = 45299
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
